.container
{
    max-width: 3000px;
	max-height: 1000px;
	height: 650px;
    position:relative;
}

.block
{
	width:30%;
    height:30%;
    position:absolute;
    left:50%;
    top:50%;
}

.tl
{
    top:0%;
	left:0%;
	height:45%;
	margin-top: 35px;
}

.t
{
    top:0%;
	left:35%;
	height:35%;
	margin-top: 35px;
}

.tr
{
    top:0%;
	left:70%;
	height:25%;
	margin-top: 35px;
}

.bl
{
    top:50%;
	left:0%;
	height:25%;
	margin-top: 35px;
}

.b
{
    top:40%;
	left:35%;
	height:35%;
	margin-top: 35px;
}

.br
{
    top:30%;
	left:70%;
	height:45%;
	margin-top: 35px;
}

.butt
{
	position:absolute;
	width:95%;
	top:81%;
	margin-top: 35px;
}

.div-wrapper {
    position: relative;
}

.div-wrapper img {
    position: relative;
    left: 0;
    bottom: 0;
	max-width: 100%;
	max-height: auto;
}

.background_color
{
	background-color: #E3E3E3;
}

.p_font
{
	font-size: 1.5vw;
}